USE [master]
GO
/****** Object:  Database [BorcTakipDB]    Script Date: 09.09.2015 16:33:35 ******/
CREATE DATABASE [BorcTakipDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BorcTakipDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BorcTakipDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BorcTakipDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BorcTakipDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BorcTakipDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BorcTakipDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09.09.2015 16:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Caris]    Script Date: 09.09.2015 16:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caris](
	[CariID] [int] IDENTITY(1,1) NOT NULL,
	[CariKOD] [nvarchar](35) NULL,
	[CariAd] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[Telefon] [nvarchar](25) NULL,
	[Adres] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Caris] PRIMARY KEY CLUSTERED 
(
	[CariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ceks]    Script Date: 09.09.2015 16:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ceks](
	[CekOdemeID] [int] IDENTITY(1,1) NOT NULL,
	[OdemeID] [int] NULL,
	[SonOdemeTarihi] [datetime] NULL,
	[OdendiMi] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Ceks] PRIMARY KEY CLUSTERED 
(
	[CekOdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Isses]    Script Date: 09.09.2015 16:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Isses](
	[IsID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NULL,
	[CariID] [int] NULL,
	[YapilanIsTanimi] [nvarchar](500) NULL,
	[AlinacakTutar] [float] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Isses] PRIMARY KEY CLUSTERED 
(
	[IsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Odemes]    Script Date: 09.09.2015 16:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemes](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[IsID] [int] NULL,
	[Tarih] [datetime] NULL,
	[OdenenTutar] [float] NULL,
	[OdemeTuru] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Odemes] PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_CariID]    Script Date: 09.09.2015 16:33:35 ******/
CREATE NONCLUSTERED INDEX [IX_CariID] ON [dbo].[Isses]
(
	[CariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IsID]    Script Date: 09.09.2015 16:33:35 ******/
CREATE NONCLUSTERED INDEX [IX_IsID] ON [dbo].[Odemes]
(
	[IsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ceks]  WITH CHECK ADD  CONSTRAINT [FK_Ceks_Odemes] FOREIGN KEY([OdemeID])
REFERENCES [dbo].[Odemes] ([OdemeID])
GO
ALTER TABLE [dbo].[Ceks] CHECK CONSTRAINT [FK_Ceks_Odemes]
GO
ALTER TABLE [dbo].[Isses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Isses_dbo.Caris_CariID] FOREIGN KEY([CariID])
REFERENCES [dbo].[Caris] ([CariID])
GO
ALTER TABLE [dbo].[Isses] CHECK CONSTRAINT [FK_dbo.Isses_dbo.Caris_CariID]
GO
ALTER TABLE [dbo].[Odemes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Odemes_dbo.Isses_IsID] FOREIGN KEY([IsID])
REFERENCES [dbo].[Isses] ([IsID])
GO
ALTER TABLE [dbo].[Odemes] CHECK CONSTRAINT [FK_dbo.Odemes_dbo.Isses_IsID]
GO
USE [master]
GO
